<div class="grid-container">
    <section class="img">
        <h1>EAT-A-BURGER</h1>
        <br>
        <img src="./assets/img/burgers.png" alt="burgers">
    </section>

    <form class="form">
        <div class="form-back">
        <label for="burger-txt">Whats your favorite burger? <input type="text" id="burger-txt"></label>
        <button type="submit" class="submit">Submit</button>
        </div>
    </form>

    <div class="left-div">
        <h3>Burger Queue</h3>
    </div>
    <div class="right-div">
        <h3>Devoured</h3>
    </div>
</div>