<div class="grid-container">
    <section class="img">
        <h1>EAT-A-BURGER</h1>
        <br>
        <img src="./img/burgers.png" alt="burgers">
    </section>

    <form class="form">
        <div class="form-back">
            <label for="burger-txt">Whats your favorite burger?</label>
            <div>
                <input type="text" id="burger-txt">
                <button type="submit" class="btn" id="submit">Submit</button>
            </div>
        </div>
    </form>

    <div class="left-div">
        <h3>Burger Queue</h3>
        <ul class="burgerQ">

        </ul>
    </div>
    <div class="right-div">
        <h3>Devoured</h3>
        <ul class="burgerD">

        </ul>
    </div>
</div>